[submodule "frontend"]
	path = frontend
	url = https://github.com/Quarcoo-arc/issues-tracker-frontend
[submodule "backend"]
	path = backend
	url = https://github.com/Quarcoo-arc/issues-tracker-backend
